<style> 
body {
  background-color: linen;
}

h1 {
  color: darkblue;
  margin-left: 40px;
} 


/* unvisited link */
a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
}

input {
  width: 1200px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 110%;
}

input[type=text], select {
  width: 1200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 110%;
}

input[type=submit] {
  width: 1200px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 110%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 110%;
}
</style>
